body {
    background-color: #FFEACC;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-transform: uppercase;
    color: #995942;
}

p {
    font-size: 2rem;
}

p.intro {
    color: #FF9500;
}

summary {
    font-size: 4rem;
}

span.impar{
    background-color: #FFCCEA;
}

span.par {
    background-color: white;
}